

body{
    font-family: 'Roboto', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* nav bar */
nav{
    background-color: #e9e9dc !important;
    opacity: 0.9;
    box-shadow: 2px 1px 12px 4px grey;
}
#navbarNav a{
    color:#27146F;
    font-weight: 550;
    font-size: 18px;
    padding: 0px 20px;
    z-index: 9999;
}
.show-li:hover{
    border-bottom: none !important;
}
#navbarNav a:hover{
    background-color: #d0d0d4;
    color:#170e38;
    border-bottom: 1px solid #170e38;
}
/* home main */
#mainBlock>.main-1{
    padding: 150px 100px 75px 100px ;
background-image: url('https://cdn.pixabay.com/photo/2017/03/27/13/17/document-2178656_960_720.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid black;
}

.carousel-item img{
    height: 500px;
    /* change */
}
.carousel-caption{background: black; opacity: 0.8;}

.main-2 h1{
    border-bottom: 2px solid burlywood;
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
}

/* footer */
#footerBlock {
    margin-top: 15px;
    background: #31383d;
    padding: 30px;
    text-align: center;
    color:  #e4e6f3
  }
  

/* ======================================================================= */
/* students css */
#studentBlock{
    padding: 100px 0px 0px ;   
}
#studentBlock h1{
    padding: 20px 0px 0px 30px ;
}


table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:40px auto;
    }
    
    table img{
        border-radius: 100%;
    }

tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 2px solid #ccc; 
	text-align: left; 
	font-size: 16px;
	}


/*  */
#studentDetails{
    display: none;
}
#studentDetails .jumbotron{
border: 2px solid gray;
}

#studentDetails li{
    list-style: none;
}
#closeDetails {
    position: absolute !important;
    right: 60px !important;
    top: 92px !important;
    font-size: 40px !important;
    z-index: 999 !important;
}
#studentDetails img{
    width: 100%;
height: auto !important;
    padding: 3px !important;
    border: 2px solid lightsteelblue !important;
    border-radius: 3%;
}

.show-std-details{
    display: block !important;
    padding-top: 100px;
}

/* faculty section */
#facultyBlock>div:first-child{
    margin: 100px 0px 30px auto;
}

/* register form */
#registerBlock{
padding-top: 120px;
background-image: url('https://cdn.pixabay.com/photo/2017/03/27/13/17/document-2178656_960_720.jpg');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}
#registerBlock .container{
    border: 1px solid #3f3030;
    background: #eee;
    opacity: 0.9;
   }


/* ==================================================== */
/* media queries */
@media only screen and (max-width: 600px) {
    body{
        padding: 0%;
        margin: 0px;
    }
    .fixed-top{
        position: relative !important;
    }
   
    .carousel-item img , #headerBlock img{
        height: auto;
        /* change */
    }
    #mainBlock>.main-1{
        padding: 0px;
    }
    .main-2 h1{
        font-size: 19px;
        font-weight: 700;
        margin: 0px;
        border-bottom: none;
        text-shadow: none;
    }

    /*  */
    #studentBlock{
        padding: 0%;
    }
    #studentBlock h1{
        padding: 30px 0px 0px 0px ;
    }

    /* table */
    table { 
        width: 100%; 
  }

  table, thead, tbody, th, td, tr { 
      display: block; 
  }
  
  /* Hide table headers  */
  thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
  }
  
  tr { 
      border: 2px solid #ccc; 
      margin-bottom: 10px;
    }
  
  td { 
      border: none;
      border-bottom: 2px solid #eee; 
      position: relative;
      padding-left: 35%; 
  }

  td:before { 
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
      /* Label the data */
      content: attr(data-column);

      color: #000;
      font-weight: bold;
  }
  .details{
      display: none;
      /* hide details when in moblie screen */
  }

  /* faculty */
  #facultyBlock>div:first-child{
    margin: 20px auto;
}
    #facultyList .faculty-mob{
      width: 100% !important;
      float: none !important;
  }

  #registerBlock{
      padding-top: 0% !important;
      border: none;
  }
  #registerBlock .container{
    padding: 0% !important;
    margin: 0px !important;
    border: none;
  }
  #registerBlock .container>div{
      margin: 1rem !important;
  }
   }

